* {
    padding: 0;
    margin: 0;
  }
  
  body {
    overflow: hidden;
  }
  
  #webcam {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  #container {
    display: flex;
    justify-content: center;
  }
  
  #header {
    height: 4vh;
    background: rgb(17, 179, 204);
    position: absolute;
    width: 100%;
  }
  
  #receiptPopup {
    background: rgb(17, 179, 204);
    position: absolute;
    border-radius: 10vw;
    bottom: -10vh;
    transition: bottom 0.5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vh;
    font-weight: 500;
    color: #fff;
    padding: 1.5vh 4vh;
  }
  
  #receiptPopup.receiptPopupIn {
    bottom: 3vh;
  }
  